
@{
    ViewBag.Title = "Unauthorized";
}

<div align="center">
    <h2>Odmowa dostępu!</h2>
    <font color="red" size="4">Zawartość dostępna tylko po zalogowaniu lub podano błędny adres!</font>
</div>